
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
{% endblock extrahead %}

{% block header %}
    {% if request.user.is_authenticated %}
        <nav class="dash-nav">
            <form action="{% url 'users:logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </nav>
    {% endif %}
{% endblock header %}

{% block content %}
    {% if messages %}
        <div class="messages" id="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="search-bar-nav">
        <p>Welcome, {{ request.user.username|title }}</p>
        <form method="GET" action="{% url 'TaskHero:dashboard' %}">
            {% csrf_token %}
            {{ search_form.as_div }}
            <button type="submit">Search</button>
        </form>
    </div>

    <section class="task-section">
        <div class="tasks-card">
            <div class="task-column to-do-card">
                <h2>To Do</h2>
                {% for task in all_tasks %}
                    {% if task.status == 'TD' %}
                        <div class="task-item">
                        <span>Title - {{ task.title }}</span>
                        <a href="{% url 'TaskHero:task_detail' task.id %}">View Task</a>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>

            <div class="task-column in-progress-card">
                <h2>In Progress</h2>
                {% for task in all_tasks %}
                    {% if task.status == 'IP' %}
                        <div class="task-item">
                            <span>Title - {{ task.title }}</span>
                            <a href="{% url 'TaskHero:task_detail' task.id %}">View Task</a>
                        
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="task-column completed-card">
                <h2>Completed</h2>
                {% for task in all_tasks %}
                    {% if task.status == 'CPD' %}
                        <div class="task-item">
                            <span>Title - {{ task.title }}</span>
                        <a href="{% url 'TaskHero:task_detail' task.id %}">View Task</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
      // Message fade out after 4 seconds
      setTimeout(() => {
        const msg = document.getElementById("messages");
        if (msg) {
          msg.style.opacity = "0";
          msg.style.transition = "opacity 1s ease";
        }
      }, 4000);
    </script>
{% endblock %}
