{% extends "partials/base.html" %}
{% load static %}
    
{% block title %}
    TaskHero/home
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock extrahead %}

{% block content %}
{% include 'partials/header.html' %}
    <body>
  <div class="container">
    <h1>Welcome to TaskHero</h1>
    <p>TaskHero is your ultimate task management companion. Organize your day, prioritize tasks, and boost productivity with ease. Whether you're tackling personal goals or managing team projects, TaskHero helps you stay on top of everything.</p>
    <p>Organize, prioritize, and get things done with ease. Task Hero is your smart task manager for everyday productivity.</p>
    <div class="buttons">
      <a href="{% url 'users:sign_up' %}" class="signup">Get Started</a>
      <a href="#" class="learn">Learn More</a>
    </div>
  </div>
</body>
{% include 'partials/footer.html' %}
{% endblock content %}
