{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

{% endblock extrahead %}
{% block header %}
    {% if request.user.is_authenticated %}
        <nav class='dash-nav'>
        <div>
            <form action="{% url 'users:logout' %}" method="POST">
                {% csrf_token %}
                <span class="material-symbols-outlined">logout</span>
                <button type='submit'>Logout</button>
            </form>
        
        </div>

        </nav>
    {% endif %}
{% endblock header %} 

